[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
avanza-api = "*"
pandas-ta = "*"
yfinance = "*"
keyring = "*"
pydantic = "*"

[dev-packages]
black = "*"
pytest = "*"
pre-commit = "*"
flake8-pyproject = "*"

[requires]
python_version = "3.11"
