[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
avanza-api = "==12.0.0"
pandas-ta = "*"
yfinance = "*"
keyring = "*"
pydantic = "*"
mplfinance = "*"
numpy = "==1.26.4"
telegram-send = "==0.34"
python-telegram-bot = "==13.13"
workalendar = "*"
pandas-market-calendars = "*"
beautifulsoup4 = "*"
requests-html = "*"
lxml-html-clean = "*"
cloudscraper = "*"
pathos = "*"

[dev-packages]
black = "*"
pytest = "*"
pre-commit = "*"
flake8-pyproject = "*"

[requires]
python_version = "3.11"
